/* Coolors Color Palette */
:root {
    --color-dark: #353535;  /* Dark Gray */
    --color-teal: #3c6e71;  /* Teal */
    --color-white: #ffffff;  /* White */
    --color-light-gray: #d9d9d9;  /* Light Gray */
    --color-blue: #284b63;  /* Blue */
  }
  
  /* Example styles */
  body {
    background-color: var(--color-white);
    color: var(--color-dark);
  }
  
  .header {
    background-color: var(--color-teal);
    padding: 5px;
    /* text-align: center; */
  }
  
  .footer {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px;
    text-align: center;
  }